.contenedor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 15px;

        i {
            font-size: 1.5em;
        }
    }
}

#formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 50%;


        label {
            width: 70px;
        }

        #btn {
            padding: 5px 50px;
        }

        .mensaje-error {
            display: none;
        }
    }
}

#btn {
    background-color: #D6C1A8;
    color: black;
    border: none;
}

#btn:hover {
    background-color: #C4A075;
    color: black;
}

#btn:hover, #btn:focus-visible {
    background-color: #C4A075;
}

.mapa {
    width: 600px;
    height: 450px;
    border: 0;
}

@media (width < 1200px) {
    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }
}

@media (width < 768px) {
    .mapa {
        width: 100%;
        height: 350px;
        padding-top: 50px;
    }
}