/* HEADER */
header{
    background-image: url('../img/cabecera.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    #contenido-cabecera {
        display: flex;
        flex-direction: column;
        gap: 35px;

        button {
            background-color: #D6C1A8;
            width: 150px;
            height: 35px;
            border: none;

            a {
                text-decoration: none; 
            }
        }

        button:hover {
            background-color: #C4A075;
        }
    }
}
/* FIN HEADER */

/* NOSOTROS */
#nosotros{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;

    p {
        width: 50%;
        padding: 40px;
    }

}
/* FIN NOSOTROS */

@media (width < 920px ) {
    #nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 100%;
        }
    }
}

@media (width < 450px) {
    header {
        background-image: url('/img/cabecera-movil.png');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #nosotros p {
        padding: 20px;
    }
}

