*{ 
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #F9F4EF;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
}


.navbar {
    background-color: #D6C1A8;

    .nav-link {
        color: black;
    }

    i {
        font-size: 1.5em;
        padding-right: 50px;
        cursor: pointer;
    }
}

/* ESTILOS GENERALES DE LAS TARJETAS DE ROPA */
.tendencias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .card {
        max-height: 464px;
    }
}

.card img {
    height: 300px;
    object-fit: contain;
}

.card-body {
    text-align: center;

    h5, p{
        margin-bottom: 8px;
    }

    .precio {
        font-weight: bold;
    }
}

.btn {
    background-color: #D6C1A8;
    color: black;
    border: none;
    border-radius: 0;
}

.btn:hover {
    background-color: #C4A075;
    color: black;
}
/* FIN ESTILOS GENERALES DE LAS TARJETAS DE ROPA */

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: #D6C1A8;
    flex-wrap: wrap;

    .contenedor-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-top: 15px;


        h4 {
            padding-bottom: 15px;
        }

        .info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: 15px;

            i {
                font-size: 1.5em;
            }
        }
    }
    
    #copy {
        display: flex;
        flex-direction: row;

        width: 100%;
    }
}
/* FIN FOOTER */